$base: #320066;
$brighter: #410083;
$brighterr: #5100a3;
$darker: #230047;
$darkerr: #0f001e;

/*============================================*
* Global
*==============================================*/
body{
  min-width: 360px;
}

@font-face {
    font-family: "Forte";
    src: url(../fonts/FORTE.TTF) format("truetype");
}

.card>.card-header{
  background-color: $base;
  color: white;
}

.bg-darthV{
  background-color: $darkerr;
}

/*============================================*
* NavBar
*==============================================*/
.headerTitle h1{
  font-family: Forte;
  text-align: center;
  width: 100%;
}

.headerTitle h1 a{
  font-size: xx-large;
}

/*============================================*
* The Sidebar
*==============================================*/

aside.sidebar{
  margin-top: 15px;
  padding-top: 15px;

  div{
    margin-bottom: 15px;
  }
}



/*============================================*
* The carousel-3d
*==============================================*/
#films{
  .filmImageCard{
    padding: 0;
  }

  .filmImage{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  .filmImageText{
    background-color: rgba(90,110,180,0.8);
    height: 100%;
    color: white;
    padding: 1.25rem;
    text-align: justify;
  }

  .carousel-3d-container, .carousel-3d-slider, .carousel-3d-slide{
    min-height: 602px !important; //Fix for mobile
  }
}
