/*============================================*
* Global
*==============================================*/
@font-face {
  font-family: "Forte";
  src: url(../fonts/FORTE.TTF) format("truetype"); }

.card > .card-header {
  background-color: #320066;
  color: white; }

/*============================================*
* NavBar
*==============================================*/
.headerTitle h1 {
  font-family: Forte;
  text-align: center;
  width: 100%; }

.headerTitle h1 a {
  font-size: xx-large; }

/*============================================*
* The carousel-3d
*==============================================*/
#films .filmImageCard {
  padding: 0; }

#films .filmImage {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; }

#films .filmImageText {
  background-color: rgba(90, 110, 180, 0.8);
  height: 100%;
  color: white;
  padding: 1.25rem;
  text-align: justify; }

#films .carousel-3d-container, #films .carousel-3d-slider, #films .carousel-3d-slide {
  min-height: 602px !important; }
