/*============================================*
* Global
*==============================================*/
body {
  min-width: 360px; }

@font-face {
  font-family: "Forte";
  src: url(../fonts/FORTE.TTF) format("truetype"); }

.card > .card-header {
  background-color: #320066;
  color: #b9b9b9; }

.bg-darthV {
  background-color: #0f001e; }

.customWriting {
  font-family: Forte; }

.textHeadingColor {
  color: #0f001e; }

/*============================================*
* NavBar
*==============================================*/
#siteTitle {
  color: #b9b9b9; }

.headerTitle h1 {
  font-family: Forte;
  text-align: center;
  width: 100%; }

.headerTitle h1 a {
  font-size: xx-large; }

.navbar-nav {
  justify-content: flex-end;
  width: 100%; }

/*============================================*
* The Sidebar
*==============================================*/
aside.sidebar {
  margin-top: 15px;
  padding-top: 15px; }
  aside.sidebar div {
    margin-bottom: 15px; }

/*============================================*
* The carousel-3d
*==============================================*/
#films {
  background: url(../images/bgdfilms.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-top: 15px; }

#films .filmImageCard {
  padding: 0; }

#films .filmImage {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; }

#films .filmImageText {
  background-color: rgba(90, 110, 180, 0.8);
  height: 100%;
  color: white;
  padding: 1.25rem;
  text-align: justify; }

#films .carousel-3d-container, #films .carousel-3d-slider, #films .carousel-3d-slide {
  min-height: 602px !important; }

#films a, #films a:active, #films a:hover, #films a:visited {
  color: #b9b9b9; }

#films .card-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em; }

/*============================================*
* The footer
*==============================================*/
.footerRow {
  color: #b9b9b9; }

.planDuSite a {
  padding: 0;
  padding-top: 2px; }

.planDuSite a, .planDuSite a:active, .planDuSite a:hover, .planDuSite a:visited {
  color: #b9b9b9; }

/*============================================*
* Listing Films
*==============================================*/
.filmsListing {
  border: 1px solid #0f001e;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

.TitleListing a, .TitleListing a:active, .TitleListing a:hover, .TitleListing a:visited {
  color: #230047;
  text-decoration: none;
  font-family: Forte; }

/*============================================*
* Fil Descriptif
*==============================================*/
.filmImg {
  max-width: 33%; }
